body{
  padding : 0;
  margin : 0;
  background-color: #666;
}

img {
  border: 0;
}

a, .pseudo-link {
  color: #AEBEFE;
  text-decoration: underline;
}

h1 {
  font-size: 42px;
  font-family: Verdana, Arial;
  font-weight: bold;
  text-shadow: #222 1px 1px 1px;
  color: #D1F6FF;
  padding-bottom: 20px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  text-shadow: #222 1px 1px 1px;
  color: #fff;

}
#title {
  text-align: center;
  margin: 35px 0px 35px 0px;
  background: url("/images/osmnica_small.png") no-repeat 225px 120px transparent;
  height: 180px;
  padding: 30px;
}

#title h1, #title h2 {
  margin: 0;
  line-height: 0;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  text-shadow: #222 1px 1px 1px;
  margin: 25px 0px 10px 0px;
  color: #EEAEFE;
  line-height: 2em;
}

.subscription-form {
  margin: 15px 0 10px 0;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}


#inner-body {
   position: absolute;
     z-index: 2;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
}


#page-wrapper {
  width: 800px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
}

#content {
  font-family: Arial, Verdana;
  margin: 120px 0px;
  line-height: 1.8em;
  background-color: #000;
  color: #fff;
  padding: 25px 100px;
  font-size: 14px;
  text-align: justify;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80); /*for Internet Explorer 6/7*/
  filter: “alpha(opacity=80)”; /*for Internet Explorer 8*/
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

input {
  margin: 10px 0;
  background:#111;
  color: #ccc;
  border-width: 1px;
  border-color:#e5e5e5 #797c80 #797c80 #e5e5e5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 2px 10px;
}

td {
  padding: 0px 5px;
}

.message {
  padding: 10px 25px;
}

.error {
  color: red;
  border: 1px solid red;
}

.success {
  color: green;
  border: 1px solid green;
}


