@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

img {
  border: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", Impact, sans-serif;
}

h1.title {
  color: #5bc0de;
  font-size: 33px;
  margin: 0;
}

h1.title span.downlight {
  color: #2f96b4;
}

h3 {
  font-weight: bold;
}

.branding h3 {
  color: #fff;
  font-size: 14px;
  margin: 0 0 5px 0;
  margin-top: -10px;
}

.label-inverse {
  background-color: #aaa;
}

.subscription-form {
  margin: 15px 0 10px 0;
}

.subscription-form input {
  margin: 10px 0;
  background:#111;
  color: #ccc;
  border-width: 1px;
  border-color:#e5e5e5 #797c80 #797c80 #e5e5e5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 2px 10px;
}

.message {
  padding: 10px 25px;
}

.error {
  color: red;
  border: 1px solid red;
}

.success {
  color: green;
  border: 1px solid green;
}

.branding {
}

.branding h3,
.branding h1 {
  margin-left: 140px;
}

.branding .logo {
  float:left;
  position: absolute;
}

#header {
  background: #333;
  width:100%;
  position:absolute;
  z-index:10;
}

#header .navigation-bar {
  margin: 20px 0 0 0;
}


#header .search-form {
  margin: 20px 0 0 0;
}

.leaflet-control-container .leaflet-top {
  margin-top: 130px;
}

.leaflet-bottom {
  bottom:10px;
}

.l10{
  left:10px;
}

#resultados {}
