img {
  border: 0;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

.branding h3 {
  color: #fff;
}

.label-inverse {
  background-color: #aaa;
}

.subscription-form {
  margin: 15px 0 10px 0;
}

.subscription-form input {
  margin: 10px 0;
  background:#111;
  color: #ccc;
  border-width: 1px;
  border-color:#e5e5e5 #797c80 #797c80 #e5e5e5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 2px 10px;
}

.message {
  padding: 10px 25px;
}

.error {
  color: red;
  border: 1px solid red;
}

.success {
  color: green;
  border: 1px solid green;
}

.branding {
}

.branding h3 {
  margin-left: 140px;
}

.branding .logo {
  float:left;
  position: absolute;
}

#header {
  background: #333;
  width:100%;
  position:absolute;
  z-index:10;
}

#header .navigation-bar {
  margin: 20px 0 0 0;
}


#header .search-form {
  margin: 20px 0 0 0;
}

.leaflet-control-container .leaflet-top {
  margin-top: 60px;
}
