/* FONTS */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(/css/fonts/Montserrat-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(/css/fonts/Montserrat-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/css/fonts/OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/css/fonts/OpenSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/css/fonts/OpenSans-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/css/fonts/OpenSans-BoldItalic.woff) format('woff');
}

img {
  border: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", Impact, sans-serif;
}

html {
  height:100%;
}

body {
  height:100%;
}
.branding h1.title {
  color: #5bc0de;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: bold;
  text-rendering: optimizelegibility;
}

.branding h1.title span.label {
  font-size: 11px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.branding h1.title span.downlight {
  color: #2f96b4;
}

h3 {
  font-weight: bold;
}

.branding h3 {
  color: #fff;
  font-size: 13px;
  margin: 0 0 5px 0;
  padding: 0;
}

.label-inverse {
  background-color: #aaa;
}

.subscription-form {
  margin: 15px 0 10px 0;
}

.subscription-form input {
  margin: 10px 0;
  background:#111;
  color: #ccc;
  border-width: 1px;
  border-color:#e5e5e5 #797c80 #797c80 #e5e5e5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 10px;
}

.message {
  padding: 10px 25px;
}

.error {
  color: red;
  border: 1px solid red;
}

.success {
  color: green;
  border: 1px solid green;
}

.branding h3,
.branding h1 {
  margin-left: 140px;
}

.branding .logo {
  float:left;
  position: absolute;
}

#header {
  background: #333;
  width:100%;
  position:absolute;
  z-index:10;
  height: 85px;
}


#header .branding {
  float: left;
  margin-top:20px;
}


#header .navigation-bar {
  margin: 10px 0 0 0;
  float: right;
}


#header .search-form {
  margin: 20px 0 0 15px;
  float: left;
  width: 200px;
}

#header .search-form button {
  padding: 9px 10px;
  margin: 0;
}
#header .search-form button span {
  padding: 0;
  margin: 0;
}

.leaflet-control-container .leaflet-top.leaflet-left {
  margin-top: 130px;
}

.leaflet-control-container .leaflet-top.leaflet-right {
  margin-top: 100px;
}

.leaflet-bottom {
  bottom:10px;
}

.l10 {
  left:10px;
}

#search-results {}


#header .navigation-bar >div {
  margin: 10px;
}

body .modal {
  width: auto;
  margin: 30px;
  left: 0;
}

.modal {
  overflow-y: auto !important;
}

#map {
  height: 100%;
  display: block;
  z-index: 0;
}
