
@media (max-width: 380px){
  #header h3,
  #header .search-form,
  #header .navigation-bar {
    display: none;
  }
  #header .navigation-bar {
    margin-top: 10px;
  }
  #header {
    height: 35px;
  }
  #header img.logo {
    margin-top: 5px;
    width:54px;
    height:54px;
  }
  #header h1 {
    font-size: 16px;
    margin-left: 56px;
    float: right;
    margin-top: 8px;
  }
  #header .branding {
    margin-top: 0;
  }
  #header .navigation-bar >div {
    margin: 5px 2px;
  }
  .leaflet-control-container .leaflet-top.leaflet-left {
    margin-top: 50px;
  }
  .leaflet-control-container .leaflet-top.leaflet-right {
    margin-top: 30px;
  }
  .leaflet-control-attribution,
  .leaflet-control-zoomslider-slider-body {
    display: none;
  }
  .leaflet-control-zoomslider-slider {
    background: none;
    height: 30px;
  }
  .leaflet-control-layers-toggle {
    height: 30px;
    width: 30px;
    background-size: 20px 20px;
  }
  body .modal {
    margin: 0 10px;
  }
}


@media (min-width: 380px) and (max-width: 550px){
  #header h3,
  #header .search-form,
  #header .nav-title {
    display: none;
  }
  #header .navigation-bar {
    margin-top: 10px;
  }
  #header .navigation-bar {
    margin-top: 0;
  }
  #header .navigation-bar >a {
    width: 10px;
    height: 10px;
    overflow: hidden;
  }
 #header .navigation-bar >a span {
    display: block;
  }
  .leaflet-control-layers-toggle {
    height: 30px;
    width: 30px;
    background-size: 20px 20px;
  }

  #header {
    height: 35px;
  }
  #header img.logo {
    margin-top: 5px;
    width:54px;
    height:54px;
  }
  #header h1 {
    font-size: 16px;
    margin-left: 56px;
    float: right;
    margin-top: 8px;
  }
  #header .branding {
    margin-top: 0;
  }
  #header .navigation-bar >div {
    margin: 2px 2px;
  }
  .leaflet-control-container .leaflet-top.leaflet-left {
    margin-top: 50px;
  }
  .leaflet-control-container .leaflet-top.leaflet-right {
    margin-top: 30px;
  }
  .leaflet-control-attribution,
  .leaflet-control-zoomslider-slider-body {
    display: none;
  }
  .leaflet-control-zoomslider-slider {
    background: none;
    height: 30px;
  }
  .btn {
    padding: 3px 7px;
  }
  body .modal {
    margin: 0 20px;
  }
}


@media (min-width: 550px) and (max-width: 760px) {
  #header h3,
  #header .nav-title,
  #header .search-button-title {
    display: none;
  }
  #header .navigation-bar {
    margin-top: 10px;
  }

  #header .search-form {
    margin-top: 8px;
    margin-left: 30px;
    width: 120px;

  }
  #header .search-form input {
    height: 24px;
  }
  #header .search-form button {
    padding: 4px 10px;
  }
  #header .navigation-bar {
    margin-top: 0;
  }

  #header .navigation-bar >a {
    width: 10px;
    height: 10px;
    overflow: hidden;
  }

 #header .navigation-bar >a span {
    display: block;
  }

  #header {
    height: 40px;
  }
  #header img.logo {
    margin-top: 5px;
    width:54px;
    height:54px;
  }
  #header h1 {
    font-size: 16px;
    margin-left: 56px;
    float: right;
    margin-top: 10px;
  }
  #header .branding {
    margin-top: 0;
  }
  #header .navigation-bar >div {
    margin: 5px 2px;
  }
  .leaflet-control-container .leaflet-top.leaflet-left,
  .leaflet-control-container .leaflet-top.leaflet-right {
    margin-top: 50px;
  }
  .btn {
    padding: 3px 7px;
  }
  body .modal {
    margin: 0 20px;
  }
}

@media (min-width: 760px) and (max-width: 960px){
  #header .nav-title {
    display: none;
  }
  #header .navigation-bar {
    margin-top: 15px;
  }
  #header .search-form {
    margin-left: 30px;
    width: 150px;
  }
  body .modal {
    margin: 20px 80px;
  }
}

/* #### Desktops #### */
@media (min-width: 960px){
  #header .search-form {
    margin-left: 30px;
  }
  body .modal {
    margin: 20px 160px;
  }
}


/* go-img img {
max-width: 100%; */
