{% extends "base.html" %}

{% block meta_javascript %}
  <script src="{{ SITEURL }}/theme/js/jquery.js"></script>
  <script src="{{ SITEURL }}/theme/js/leaflet.js"></script>
  <script src="{{ SITEURL }}/theme/js/search.js"></script>
  <script src="{{ SITEURL }}/theme/js/leaflet/zoomslider/L.Control.Zoomslider.js" ></script>
  <script src="{{ SITEURL }}/theme/js/leaflet/leaflet-hash.js"></script>
  <script src="{{ SITEURL }}/theme/js/leaflet/ActiveLayers.js"></script>
{% endblock %}

{% block meta_css %}
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/leaflet.css" type="text/css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/js/leaflet/zoomslider/L.Control.Zoomslider.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/font-awesome.min.css">

  {% if USE_LESS %}
  <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.less">
  <script src="{{ SITEURL }}/theme/js/less.min.js" type="text/javascript"></script>
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.min.css">
  {% endif %}
{% endblock %}

{% block content %}
  {% include "partial/header.html" %}
  <main id="map-wrapper">
    <!-- MAP -->
     <div id="map">
     </div>

     {% include "partial/search.html" %}
     {% include "partial/social-links.html" %}

  </main>

{% endblock %}


{% block additional_js %}
  <script src="theme/js/map.js"></script>
  {% include "partial/piwik.html" %}
  {% include "partial/jsonld.html" %}
{% endblock %}
