<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es-NI">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="keywords" content="CpenStreetMap, Nicaragua, Mapas, Transporte público, Datos Abuertos, Open Data, Software Libre" />
    <meta name="description" content="Grupo de OpenStreetMap Nicaragua" />
    <meta name="Content-Language" content="es" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="revisit-after" content="30 days" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>mapanica.net  - OpenStreetMap Nicaragua</title>
    <link rel="icon" type="image/ico" href="/favicon.ico" />

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
    <script src="js/script.js"></script>
    <script src="js/leaflet/zoomslider/L.Control.Zoomslider.js" ></script>
    <script src="js/leaflet/leaflet-hash.js"></script>
    <script src="js/leaflet/ActiveLayers.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" type="text/css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="js/leaflet/zoomslider/L.Control.Zoomslider.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-modal-bs3patch.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/default.css" type="text/css" />
    <link rel="stylesheet" href="css/responsive.css" type="text/css" />
  </head>

  <body>

    {{ content }}

    <!-- Map -->
    <script src="js/map.js"></script>

    <!-- Piwik -->
    <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.delattre.de/" : "http://stats.delattre.de/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 5);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
    </script><noscript><p><img src="http://stats.delattre.de/piwik.php?idsite=5" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->

  </body>
</html>

