<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es-NI">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="keywords" content="CpenStreetMap, Nicaragua, Mapas, Transporte público, Datos Abuertos, Open Data, Software Libre" />
    <meta name="description" content="Grupo de OpenStreetMap Nicaragua" />
    <meta name="Content-Language" content="es" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="revisit-after" content="30 days" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>mapanica.net  - OpenStreetMap Nicaragua</title>
    <link rel="icon" type="image/ico" href="/favicon.ico" />

    <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
    <script src="js/leaflet/zoomslider/L.Control.Zoomslider.js" ></script>
    <script src="js/leaflet/leaflet-hash.js"></script>
    <script src="js/leaflet/ActiveLayers.js"></script>


    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" type="text/css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="js/leaflet/zoomslider/L.Control.Zoomslider.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/embedd.css" type="text/css" />
  </head>

  <body>

    {{ content }}

    <!-- Map -->
    <script src="js/map.js"></script>

    <!-- Do we want some usage information or stats about external use? -->

  </body>
</html>

